  .img-thumbnail-container {
      .img-thumbnail {
          width: 90%;
      }
  }

  .movie-details-container {
      p {
          font-size: 16px;
      }

      .text-wrapper {
          margin: 0;
          padding: 0;
          line-height: 0.7em;
          color: #cfcfcf;
      }
  }


  @media screen and (max-width: 1000px) {

      .movie-details-container,
      .button-container {
          padding: 20px;
      }

      .img-thumbnail-container {
          .img-thumbnail {
              width: 65%;
          }
      }
  }