mat-grid-tile {
    background: lightblue;
  }

.movie-content{
  img{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    cursor: pointer;
  }
  img:hover{
    transition: all 0.2s ease;
    width: 90%;
    cursor: pointer;
  }
}

.img-container {
  position: relative;
}

.ratings {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top:-5%;
  // right: 12%;
  background-color: #f78d01;
  border-radius: 24px;
  width: 30px;
  height: 30px;
  padding: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  // z-index: 2; 
}
.info-wrapper{
  padding: 0 5% 0 5%;
  h3, h5 {
    margin: 0;
    padding: 0;
  }
  h3{
    font-family: 'Palanquin Dark', sans-serif;
  }
  .text-muted{
    color: #a7a7a7 !important;
  }
}

@media screen and (min-width: 576px) {
  .col-lg-3.col-md-3.col-sm-6.col-12 {
      width: 50%;
  }
}
